<h1>Listing qoutes</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qoutes.each do |qoute| %>
  <tr>
    <td><%= qoute.content %></td>
    <td><%= qoute.author %></td>
    <td><%= link_to 'Show', qoute %></td>
    <td><%= link_to 'Edit', edit_qoute_path(qoute) %></td>
    <td><%= link_to 'Destroy', qoute, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qoute', new_qoute_path %>
