<p id="notice"><%= notice %></p>

<%= javascript_tag do %>
  $("#link_next").bind("ajax:complete", function(et, e){
    $("#qouteContainer").html(e.responseText); // insert content
  });
<% end %>

<div id="qouteContainer">
	<%= render "qoute" %>
</div>
<!-- 

<%= link_to 'Edit', edit_qoute_path(@qoute),  %> |
<%= link_to 'Back', qoutes_path %> -->
